* {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  font-family: 'Questrial', "微軟正黑體", sans-serif;
}

body {
  border-top: 6px solid #555;
  border-bottom: 6px solid #555;
}

.container {
  padding: 30px 0px;
  text-align: center;
}

.head {
  margin: auto;
  margin-bottom: 30px;
  max-width: 1200px;
}

.head__btn {
  display: inline-block;
  overflow: hidden;
  margin: 5px 15px;
  padding: 10px 0px;
  width: 160px;
  outline: 0;
  background-color: #333333;
  color: #fafafa;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.head__title {
  padding: 10px 30px;
  background-color: #f7df1e;
  font-size: 60px;
  font-family: 'Montserrat';
}

.head__info {
  display: inline-block;
  margin: 10px 15px 0px 15px;
}

.head__desc {
  margin: 10px auto;
  max-width: 80%;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
}

.courseList {
  margin: 0;
  padding: 0;
}

.courseList li {
  display: inline-block;
  margin: 20px;
  list-style-type: none;
}

.course {
  position: relative;
  display: inline-block;
  width: 400px;
  background-color: #fafafa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  transition: 0.5s;
  transition: 0.3s;
  transform: scale(1);
}

.course:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1);
}

.course:hover .course__ribbon {
  width: 0;
}

.course:hover .course__ribbon::before {
  left: 10px;
}

.course:hover .course__ribbon::after {
  left: 10px;
}

.course:hover .course__no {
  opacity: 0;
}

.course__title,
.course__desc {
  margin: 2px 0px;
  padding: 5px 10px;
  background-color: #fafafa;
  text-align: left;
  font-size: 15px;
}

.course__btn {
  display: inline-block;
  overflow: hidden;
  margin: 10px 5px;
  padding: 10px 0px;
  width: 120px;
  outline: 0;
  background-color: #333;
  color: #fafafa;
  vertical-align: middle;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

.course__ribbon {
  position: absolute;
  top: 0px;
  left: -10px;
  width: 25%;
  height: 36px;
  background-color: #f7df1e;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: #333;
  text-align: center;
  transition: 0.5s;
}

.course__ribbon::before {
  position: absolute;
  left: 0px;
  z-index: -1;
  width: 10px;
  height: 100%;
  background-color: #b79e11;
  content: "";
  transition: 0.2s;
  transition-delay: 0.5s;
}

.course__ribbon::after {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: -1;
  width: 20px;
  height: 9px;
  background-color: #b79e11;
  content: "";
  transition: 0.2s;
  transform: rotate(45deg);
}

.course__no {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  background-color: #f7df1e;
  color: #333;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  transform: translate(-50%, -50%);
}

.course__image {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.course__image img {
  max-width: 100%;
}

.course__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 100px;
  height: 100px;
  border: 5px solid #fafafa;
  border-bottom: 5px solid transparent;
  border-radius: 100%;
  background-color: transparent;
  animation: 1.5s linear infinite rotate;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
  .course {
    width: 100%;
  }
}