
body {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background:#4C4C4C url('https://unsplash.it/1500/900?image=1021');
  background-size:cover;
  font-family: sans-serif;
}

video {
  box-shadow:0 0 1px 3px rgba(0,0,0,0.1);
}

.wrapper {
  display:flex;
  width:850px;
}

.speed {
  display:flex;
  overflow: hidden;
  align-items:flex-start;
  flex:1;
  margin:10px;
  border-radius:50px;
  background:#efefef;
  box-shadow:0 0 1px 3px rgba(0,0,0,0.1);
}

.speed-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:2px;
  width:100%;
  height:16.3%;
  background:linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
  color:white;
  text-shadow:1px 1px 0 rgba(0,0,0,0.2);
}